* {
    font-family: 'Rubik', sans-serif;
    font-weight: 400px;
}

body {
    background-color: #150417;
}

#scoreboard {
    display: flex;
    align-items: center;
    justify-items: center;
}

.game-box {
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    color: #fff;

}

#player {
    background-color: #0a369d;
}

#computer {
    background-color: #f71735;
}

#versus {
    color: #fff;
    font-size: 40px;
    text-align: center;
    width: 70px;
}

#title {
    color: #fff;
    text-align: center;
}

#player-name, #computer-name {
    margin: 0;
    padding: 0;
}

#player-name {
    text-align: left;
}

#computer-name {
    text-align: right;
}

#player-points, #computer-points {
    position: absolute;
    top: 8px;
    font-size: 32px;
}

#player-points{
    right: 20px
}

#messages {
    background-color: #5f27cd;
    width: 300px;
    color: #fff;
    font-size: 32px;
    border-radius: 5px;
    margin: 40px 0px;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 80px;
}

ul#player-choice, ul#computer-choice {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul#player-choice li, ul#computer-choice li{
    display: inline;
    
}

ul#player-choice li a, ul#computer-choice li a{
    opacity: .2;
}

ul#player-choice li a:hover, ul#player-choice li a.selected, ul#computer-choice li a.selected{
    opacity: 1;
}

ul#player-choice li a img, ul#computer-choice li a img{
    max-height: 80px;
}